@import "src/styles/common.scss";

.card_title_Section {
  position: fixed;
  width: 90%;
  h1 {
    margin: 0;
    font-size: 35px;
  }
  h1,
  h5,
  h2 {
    margin: 0;
  }
  h5 {
    margin: 10px 0;
    color: $blue-polo;
    font-size: 18px;
  }
}

.screen_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_container {
  display: flex;
  overflow: hidden;
  height: 56vh;
  padding-top: 190px;
}
.card_container::-webkit-scrollbar {
  display: none;
}

.bank_card_item:nth-child(1) {
  margin-left: -44px;
}
.bank_card_item:nth-child(2) {
  margin-left: -70px;
}

.nav_container {
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .nav_container {
    display: none;
  }
}

@media screen and (max-height: 850px) {
  .card_container {
    display: flex;
    overflow: hidden;
    height: 61vh;
    padding-top: 140px;
  }
  .bank_card_item:nth-child(1) {
    margin-left: -55px;
  }
  .bank_card_item:nth-child(2) {
    margin-left: -90px;
  }
}

.bank_card {
  cursor: pointer;
}

.smoothly_appear {
}
