@import "src/styles/common.scss";

@keyframes rotateClock {
  100% {
    transform: rotate(-90deg) translateX(-30%);
    scale: 1.2;
  }
}

@keyframes rotateAntiClock {
  0% {
    transform: rotate(-90deg) translateX(-30%);
    scale: 1.2;
  }
  100% {
    scale: 1;
    transform: rotate(0deg) translateX(0%);
  }
}

.card {
  // width: 300px;
  // min-width: 300px;
  height: 220px;
  min-height: 220px;
  aspect-ratio: 1.6;
  background: darkslategray;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 6%;
  box-sizing: border-box;
}

.card_vertical {
  animation: rotateClock 1s forwards;
}

.card_horizontal {
  animation: rotateAntiClock 1s forwards;
}

.card_heading_section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card_abbv {
}

.card_separator {
}

.card_symbol_section {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.card_bank_name {
  color: $blue-frenchpass;
  font-size: 17px;
}

.card_square {
  height: 40px;
  width: 50px;
  border-radius: 8px;
  background-color: $blue-spindle;
  display: inline-block;
}

.card_echo {
}

.card_number {
}

.card_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  p {
    margin: 0;
    font-size: 10px;
    position: relative;
    bottom: 11px;
  }
}

.card_logo {
  font-size: 15px;
}
