/* variables */
$pink: #dd3983;
$pink-wisteria: #a460a8;

$yellow: #efa232;
$yellow-flamepea: #d76931;
$yellow-apricot: #eb8377;
$yellow-rajah: #f7c07a;

$primary-bg: #1c2641;

$blue: #2773f3;
$blue-dodger: #514ffe; /* gradient base */
$blue-cornflower: #7352f6; /* gradient base used in text in btn as well*/
$blue-malibu: #66a3ff; /* gradient to */
$blue-pickled: #343f5e;
$blue-chetwood: #7a90d0;
$blue-frenchpass: #cbe7fd;
$blue-spindle: #b7c3ed;
$blue-rhino: #2d3757;
$blue-polo: #92a0d1;
$blue-cloudburst: #1c2641;
$blue-ribbon: #1e5ef3;
$blue-bay: #45588f; /* used in outline btn */
$blue-madison: #0c2662;
$blue-cornflower-v2: #618cfa;

/* gray related */
$gray-riverbed: #444a5f; /* used in outline btn */

/* black related */
$black-firefly: #091122;

/* GRADIENTS */
$home-page-gradient: linear-gradient(315deg, $black-firefly, $blue-pickled);
$footer-gradient: linear-gradient(to top, $black-firefly, $blue-pickled);

@mixin pink-blue-card-gradient($degree) {
  background: linear-gradient(
    $degree,
    $pink-wisteria,
    $blue-malibu,
    $blue-ribbon
  );
}
@mixin orange-yellow-card-gradient($degree) {
  background: linear-gradient(
    $degree,
    $yellow-flamepea,
    $yellow-apricot,
    $yellow-rajah
  );
}

/* CLASSES */
.smoothly_appear {
  animation: smoothly-appear 1s ease-out;
}

/* ANIMATION */
@keyframes smoothly-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
