@import "src/styles/common.scss";

.main {
  padding: 20px;
  position: relative;
}

.card_container {
  display: grid;
  place-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  span {
    position: absolute;
    left: -10px;
  }
  h3 {
    opacity: 0;
  }
}

.balance_share {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
  h5 {
    margin: 10px 0;
    color: $blue-polo;
    font-size: 18px;
  }
  h2 {
    margin: 0;
  }
  .btn_group {
    display: flex;
    gap: 10px;
  }
}

.slider_panel {
  background: $blue-cloudburst;
  border-top: 1px solid lightslategray;
  border-radius: 25px;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  top: clamp(485px, 60%, 100%);
  transition: top 0.5s ease-in;
}

.slider_panel::-webkit-scrollbar {
  display: none;
}

.slider_panel_level_one {
  top: 52%;
}

.slider_panel_level_two {
  top: 8%;
  overflow: scroll;
}

.balance_share_up {
  transition: all 0.5s ease-in;
  transform: translateY(-20%);
}

.balance_share_down {
  transition: all 1s ease-in;
  transform: translateY(0%);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

h3.title_up {
  animation: fade-in 1s both;
  font-size: 20px;
  margin-bottom: 20px;
}

h1.title_up {
  animation: fade-out 1s both;
}

h3.title_down {
  animation: fade-out 1s both;
}

h1.title_down {
  animation: fade-in 3s both;
}

.slider_btn {
  display: flex;
  justify-content: center;
}

.nav_btn {
  width: 50px;
  background-color: lightslategray;
  height: 5px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
