@import "src/styles/common.scss";

.transaction_section {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.catalogue_container {
  height: 100vh;
}

.screen_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  h1 {
    margin: 0;
    font-size: 35px;
  }
}

.transaction_section:nth-child(1) {
  animation: move-for-1 0.2s ease-in forwards;
}
.transaction_section:nth-child(2) {
  animation: move-for-2 0.2s ease-in forwards;
}
.transaction_section:nth-child(5) {
  animation: move-for-5 0.2s ease-in forwards;
}

@keyframes move-for-1 {
  0% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes move-for-2 {
  0% {
    opacity: 0.5;
    bottom: 60px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes move-for-5 {
  0% {
    opacity: 0.5;
    bottom: 100px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.transaction__description {
  flex: 2;
  h3,
  h4 {
    margin: 0;
  }
  h3 {
    font-weight: 500;
  }
  h4 {
    color: $blue-polo;
    font-weight: 100;
  }
}

.details_amount {
  border-bottom: 1px solid $blue-rhino;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
