@import "src/styles/common.scss";

.round_pill {
  background-color: $blue;
  min-height: 40px;
  min-width: 40px;
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
}

.pill_gradient_blue {
  background: linear-gradient(360deg, $blue-dodger, $blue-malibu);
}

.pill_pink {
  background-color: $pink;
}

.pill_yellow {
  background-color: $yellow;
}

.pill_blue {
  background-color: $blue;
}
