@import "src/styles/common.scss";

.card_container {
  display: flex;
  overflow: hidden;
  height: 480px;
}
.card_container::-webkit-scrollbar {
  display: none;
}

.bank_card_item:nth-child(1) {
  margin-left: -44px;
}
.bank_card_item:nth-child(2) {
  margin-left: -70px;
}
