@import "src/styles/common.scss";

.screen_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    font-size: 35px;
  }
}

.smoothly_appear {
  padding-bottom: 120px;
}
