@import "src/styles/common.scss";

.main {
  animation: smoothly-appear 1s ease-out;
}

.transaction_section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.transaction__description {
  flex: 2;
  h3,
  h4 {
    margin: 0;
  }
  h3 {
    font-weight: 500;
  }
  h4 {
    color: $blue-polo;
    font-weight: 100;
  }
}

.details_amount {
  border-bottom: 1px solid $blue-rhino;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}
